.joystick-container {
    position: relative;
    width: 10rem;
    height: 10rem;
    border: 4px solid #ccc;
    border-radius: 50%;
    margin-inline: 1rem;
    margin-block: 2rem;
    margin-top: 0%;
    user-select: none;
    touch-action: none;

    background: radial-gradient(circle at center, #00ffe0, #00c0ff);
  }
  .terrain-joystick-container {
    position: relative;
    width: 10rem;
    height: 10rem;
    border: 4px solid #ccc;
    border-radius: 50%;
    margin-inline: 1rem;
    margin-block: 2rem;
    margin-top: 0%;
    user-select: none;
    touch-action: none;

    background: radial-gradient(circle at center,  #b0ff6f 20%, #355c1c 80%);
  }
  
  
  .joystick-knob {
    width: 80px;
    height: 80px;
    background-color: #777;
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  
  .joystick-arrow {
    position: absolute;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
  }
  
  .joystick-arrow.left { left: -2rem; top: 50%; transform: translateY(-50%); }
  .joystick-arrow.right { right: -2rem; top: 50%; transform: translateY(-50%); }
  .joystick-arrow.up { top: -1rem; left: 50%; transform: translateX(-50%); }
  .joystick-arrow.down { bottom: -1rem; left: 50%; transform: translateX(-50%); }
  
  .joystick-info {
    position: absolute;
    bottom: -3rem;
    width: 80%;
    font-size: 0.8rem;
    text-align: center;
    color: #333;
  }
  